*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width:767px) {
    .nav2, .search-div, .cate{
        display: none !important;
        }
        .head-btn{
            flex-direction: column;
        }
        .btnn{
            
        }
        .full-screen {
            position: absolute;
            top: 8%;
            width: 100vw !important;
            left: 0 !important;
            height: 100vh !important;
            z-index: 1050;
            overflow-y: auto; 
            background-color: white;}
}